table {
    border-collapse: collapse;
    width: calc(100% - 700px);
}
th {
    background-color: #ccc;
}
th, td {
    border: 1px solid #aaa;
    padding: 5px 10px;
}
a {
    cursor: pointer;
    color: blue;
}
a:hover {
    text-decoration: underline;
}
.fileViewer {
    margin-left:20px;
    width:700px;
}
.fileViewer > div {
    height:1000px;
    overflow:auto;
}