<div style="display:flex;align-items:flex-start;padding:20px">
    <table>
        <tr>
            <th></th>
            <th>File Name</th>
            <th>Date Added</th>
            <th>Size</th>
            <th>Action</th>
        </tr>

        <tr *ngFor="let log of data.Contents; let i=index">
            <td>{{i+1}}</td>
            <td>{{log.Key}}</td>
            <td>{{log.LastModified}}</td>
            <td>{{log.Size | filesize}}</td>
            <td><a (click)="viewLog(log.Key)">View</a> | <a (click)="downloadLog()">Download</a> | <a (click)="deleteLog(log.Key)">Delete</a></td>
        </tr>
    </table>
    <div class="fileViewer">
        <div>
            {{fileContent}}
        </div>
    </div>
    
</div>